
<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title> Главная</title>
</head>

<body>

<main>

            <div><h2>Главная</h2></div>
    <% if(!user.id && !user.email) { %>
    <a href="/auth">ссылка</a>
        <% } else { %>
            <p>
                 <%= user.email %>! <a href="/api/auth/logout">Выход</a>
            </p>
        <% } %>
</main>

</body>

</html>