
<%- include ('layout/header.ejs') -%>

<header class="element">
    <h2>ЮФУ</h2>
</header>

<main>
    <h2>АВТОРИЗАЦИЯ</h2>
    <div><input class="input" type="text" placeholder="Введите логин"></div>
    <div><input class="input" type="text" placeholder="Введите пароль"></div>
    <div><button>ВОЙТИ</button></div>
    <div><button>ГОСТЬ</button></div>
    <div><a href="#">Зарегистрироваться</a> <a href="#">Уже есть аккаунт</a></div>

</main>

<div>
    <footer class="element">
        <h2>О разработчике</h2>
    </footer>
</div>

<%- include ('layout/footer.ejs') -%>