
<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title> Авторизация</title>
    <link rel="stylesheet" href="stylesheets/registration.css">
    <!-- <script type="text/javascript" src="data.js"></script> -->
</head>

<body>

<main>
    <div>

        <form method="post" class="reg">
            <div><h2>РЕГИСТРАЦИЯ</h2></div>
            <div><input class="input" type="text" id="register-name" required placeholder="Введите  имя"></div>
            <div><input class="input" type="text" id="register-surname" required placeholder="Введите фамилию"></div>
            <div><input class="input" type="text" id="register-patronymic" required placeholder="Введите отчество"></div>
            <div><input class="input" type="text" id="register-email" required placeholder="Введите адрес электронной почты"></div>
            <div><input class="input" type="text" id="register-course" required placeholder="Введите курс"></div>
            <div><input class="input" type="text" id="register-path" required placeholder="Введите направление подготовки"></div>
            <div><input class="input" type="text" id="register-password" required placeholder="Введите пароль"></div>
            <div><input class="input" type="text" id="register-password-confirm" required placeholder="Введите пароль повторно"></div>

            <div><input class="register-button" type="submit" value="Регистрация"></div>
            <div><a href="/" class="link">На главную</a></div>
        </form>

    </div>
</main>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/scripts.js"></script>

</body>

</html>